* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
}

body {
    background-color: #f2c94c;
}

h1 {
    margin: 1rem 0 2rem 0;
}

button {
    width: 20vw;
    height: 5vh;
}

button:hover {
    background-color: lightsteelblue;
}

textarea {
    height: 30vh;
    min-width: 90vw;
    display: block;
    margin: 1rem auto;
    font-size: 1.5rem;
    background-color: lightblue;
    border-radius: 20rem;
}

#outputHere {
    font-size: 2rem;
    border: 1px solid black;
    width: 50vw;
    min-width: 90vw;
    height: 30vh;
    margin: 2rem auto;
    padding: 0.5rem;
    border-radius: 20rem;
}

.image{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
